<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Footer Example</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body class= "footer-body">
    <!-- Footer -->
    <footer>
        <nav>
            <p target="_blank">Github | Kakao Developers</p>
        </nav>
        <p>
            Reference: <a href="https://developers.kakao.com" target="_blank">Kakao API</a><br>
            Source Code: <a href="https://github.com/jsjhyun/Finding_Shelter-BE" target="_blank">Github Repository</a>
        </p>
        <p><small>© 2023 KwangWoon University Open Source Project. All Rights Reserved.</small></p>
    </footer>
</body>
</html>
